.header{
    background-color:darkcyan;
    display: flex;
    justify-content: space-between;
}

body{
    background-color:lightcoral;

}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    border-radius: 20px;
    background-color: blanchedalmond;
    width: 310px;
    font-size: fantasy;
    /*display: flex;
    flex-wrap: wrap ;*/
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color:paleturquoise;
    font-size: 20px;
    font-family:Geneva;
    font-weight: 400;
    color:black;

}

p{
    text-align: center;
    color: crimson;
    background-color: coral;
}

h2{
    text-align: center;
    color:darkblue;
    font-family:cursive;
    size: 20px;
    background-color: black;
    background-image: url("pp.jpg");
   opacity:0.5;
}